@tailwind base;
@tailwind components;
@tailwind utilities;
/* common classes */
.MainHeading {
  font-size: 32px;
  font-weight: normal;
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.SubHeading {
  font-size: 16px;
  font-weight: 500;
  color: #431ea6;
}
