@tailwind base;
@tailwind components;
@tailwind utilities;
/* common classes */
.MainHeading {
  font-size: 32px;
  font-weight: normal;
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.SubHeading {
  font-size: 16px;
  font-weight: 500;
  color: #076787;
}
.FeatureSlider .slick-list {
  padding: 0 -18px;
}
.slider_arrow:hover svg path {
  stroke: white !important;
}
.CommonCardShado {
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 26px 27px 0px rgba(0, 0, 0, 0.04);
}
